@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

html {
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  
  body {
    /* margin: 10%; */
    overflow-x: overlay;
    cursor: url(./images/cursor1.png), default;
    background: linear-gradient(to bottom, #57466e, #4b2438);
    margin: 0 auto;
    padding: 0;
    background-attachment: fixed;
    scroll-behavior: smooth;
  }

  /* ------------------------- scroll bar --------------------- */
  body::-webkit-scrollbar {
    background-color: rgba(247, 96, 114, 1);
    width: 10px;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(247, 96, 114, 1);
  
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: rgba(252, 190, 203, 1);
  }

/* ------------------------------ Header Bar----------------------------------- */
.logo{
    width: 100px;
    cursor: pointer;
    animation: float 6s ease-in-out infinite;
    box-sizing: border-box;
    border: 2px white solid;  
    border-radius: 50%;
  }
.logo:hover{
    cursor: url(./images/cursor2.png), default;
}
  
@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
        transform: translatey(-20px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
}
li, a, button{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}


.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0 25px;
}

.nav-links li, a{
    transition: all 0.3s ease 0s;
}

.nav-links li, a:hover{
    color:rgba(247, 96, 114, 1);
    cursor: url(./images/cursor2.png), default;
}


button{
    background-color:  rgba(252, 190, 203, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(247, 96, 114, 0.4);
    cursor: url(./images/cursor2.png), default;
}

/*-------------------- pick a build --------------------- */

.PICK{
    text-align: center;
    animation: fadein 2.5s;
}

.PICK h1{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 500;
}

/* ------------------------ options ------------------------ */


.options{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    animation: fadein 2.5s;

    margin-left: 120px;
    margin-right: auto;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.column{
    padding-right: 125px;
}
.option-image{
    transition: .5s;
    width: 250px;
    position: relative;
    display: block;
}
.option-image:hover{
    transition: .25s;
    cursor: url(./images/cursor2.png), default;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 1);
    width: 275px;
}
.content-details{
    margin-top: 2px;
}



.content-title{
    width: 50%;
    font-size: 20px;
    font-weight: 250;
    color: white;
    text-align: center;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 5px;
    padding: 2px;
}
.content-text{
    font-size: 14px;
    font-weight: 300;
    color: white;
    text-align: center;
    margin-top: -5px;
}


/* ------------------------- footer ------------------------- */
#footer{
  background-color: black;
  position: relative;
  height: 35px;
  margin-top: -35px;
  clear: both;
}

.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

.footer-image{
  width: 25px;
}
span + span{
  margin-left: 10px;
}
